WSPlataforma.DA/Connected Services/PEWSGeneralReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultarCIPMod1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:BEWSConsultarCIPRequestMod1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSConsultarCIPRequestMod1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodServ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CIPS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoRequest" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarCIPMod1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarCIPMod1Result" type="tns:BEWSConsultarCIPResponseMod1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSConsultarCIPResponseMod1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoResponse" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarCIPMod1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:BEWSActualizaCIPRequestMod1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSActualizaCIPRequestMod1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodServ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CIP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaExpira" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoRequest" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarCIPMod1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarCIPMod1Result" type="tns:BEWSActualizaCIPResponseMod1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSActualizaCIPResponseMod1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoResponse" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EliminarCIPMod1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:BEWSElimCIPRequestMod1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSElimCIPRequestMod1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodServ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoRequest" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EliminarCIPMod1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarCIPMod1Result" type="tns:BEWSElimCIPResponseMod1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSElimCIPResponseMod1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoResponse" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerarCIPMod1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:BEWSGenCIPRequestMod1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSGenCIPRequestMod1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodServ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerarCIPMod1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarCIPMod1Result" type="tns:BEWSGenCIPResponseMod1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSGenCIPResponseMod1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarSolicitudPagov2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:BEWSConsultarSolicitudRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSConsultarSolicitudRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cServ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CClave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarSolicitudPagov2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarSolicitudPagov2Result" type="tns:BEWSConsultarSolicitudResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSConsultarSolicitudResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarCIPMod1SoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarCIPMod1" />
  </wsdl:message>
  <wsdl:message name="ConsultarCIPMod1SoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarCIPMod1Response" />
  </wsdl:message>
  <wsdl:message name="ActualizarCIPMod1SoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarCIPMod1" />
  </wsdl:message>
  <wsdl:message name="ActualizarCIPMod1SoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarCIPMod1Response" />
  </wsdl:message>
  <wsdl:message name="EliminarCIPMod1SoapIn">
    <wsdl:part name="parameters" element="tns:EliminarCIPMod1" />
  </wsdl:message>
  <wsdl:message name="EliminarCIPMod1SoapOut">
    <wsdl:part name="parameters" element="tns:EliminarCIPMod1Response" />
  </wsdl:message>
  <wsdl:message name="GenerarCIPMod1SoapIn">
    <wsdl:part name="parameters" element="tns:GenerarCIPMod1" />
  </wsdl:message>
  <wsdl:message name="GenerarCIPMod1SoapOut">
    <wsdl:part name="parameters" element="tns:GenerarCIPMod1Response" />
  </wsdl:message>
  <wsdl:message name="ConsultarSolicitudPagov2SoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarSolicitudPagov2" />
  </wsdl:message>
  <wsdl:message name="ConsultarSolicitudPagov2SoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarSolicitudPagov2Response" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ConsultarCIPMod1">
      <wsdl:input message="tns:ConsultarCIPMod1SoapIn" />
      <wsdl:output message="tns:ConsultarCIPMod1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCIPMod1">
      <wsdl:input message="tns:ActualizarCIPMod1SoapIn" />
      <wsdl:output message="tns:ActualizarCIPMod1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCIPMod1">
      <wsdl:input message="tns:EliminarCIPMod1SoapIn" />
      <wsdl:output message="tns:EliminarCIPMod1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerarCIPMod1">
      <wsdl:input message="tns:GenerarCIPMod1SoapIn" />
      <wsdl:output message="tns:GenerarCIPMod1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitudPagov2">
      <wsdl:input message="tns:ConsultarSolicitudPagov2SoapIn" />
      <wsdl:output message="tns:ConsultarSolicitudPagov2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarCIPMod1">
      <soap:operation soapAction="http://tempuri.org/ConsultarCIPMod1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCIPMod1">
      <soap:operation soapAction="http://tempuri.org/ActualizarCIPMod1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCIPMod1">
      <soap:operation soapAction="http://tempuri.org/EliminarCIPMod1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarCIPMod1">
      <soap:operation soapAction="http://tempuri.org/GenerarCIPMod1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitudPagov2">
      <soap:operation soapAction="http://tempuri.org/ConsultarSolicitudPagov2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarCIPMod1">
      <soap12:operation soapAction="http://tempuri.org/ConsultarCIPMod1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCIPMod1">
      <soap12:operation soapAction="http://tempuri.org/ActualizarCIPMod1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCIPMod1">
      <soap12:operation soapAction="http://tempuri.org/EliminarCIPMod1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarCIPMod1">
      <soap12:operation soapAction="http://tempuri.org/GenerarCIPMod1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitudPagov2">
      <soap12:operation soapAction="http://tempuri.org/ConsultarSolicitudPagov2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://cip.pagoefectivo.pe/PagoEfectivoWSGeneralv2/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://cip.pagoefectivo.pe/PagoEfectivoWSGeneralv2/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>